@model Contact
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Изменение данных контакта";
}

<h4>Уточните данные по контакту:</h4>
<form method="post" action="/Home/Change?id=@Model.Id" class="role">
    <div class="form-group">
        <label asp-for="FamilyName">Фамилия: </label>
        <input asp-for="FamilyName" class="form-control" type="text" value="@Model.FamilyName" autofocus required />
        <span asp-validation-for="FamilyName"/>
    </div>
    <div class="form-group">
        <label asp-for="Name">Имя:</label>
        <input asp-for="Name" class="form-control" type="text" value="@Model.Name" requied />
        <span asp-validation-for="Name"/>
    </div>
    <div class="form-group">
        <label for="middle-name">Отчество</label>
        <input class="form-control" id="middle-name" type="text" name="middleName" value="@Model.MiddleName" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Телефон: </label>
        <input asp-for="PhoneNumber" class="form-control" type="text" value="@Model.PhoneNumber" required/>
        <span asp-validation-for="PhoneNumber"/>
    </div>
    <div class="form-group">
        <label asp-for="Adress">Адрес:</label>
        <input asp-for="Adress"  class="form-control" type="text" value="@Model.Adress" />
        <span asp-validation-for="Adress"/>
    </div> 
    <div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>