@model UsersModel

@{
    ViewBag.Title = "Список пользователей";
}

<table class="table table-light table-striped table-hover table-bordered caption-top">
    <caption>
        Список пользователей
    </caption>
    <thead>
        <th>Id</th>
        <th>Имя пользователя</th>
        <th>Роль администратора</th>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>
                    @if (@user.IsAdmin == true)
                    {
                        <form method="post" asp-controller="Users" asp-action="ChangeRole" asp-route-id="@user.Id" asp-route-isadmin="false">
                            <input type="hidden" asp-for="@user.Id" />
                            <input type="submit" value="Снять роль админа" class="btn btn-secondary" />
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Users" asp-action="ChangeRole" asp-route-id="@user.Id" asp-route-isadmin="true">
                            <input type="hidden" asp-for="@user.Id" />
                            <input type="submit" value="Назначить админом" class="btn btn-secondary" />
                        </form>
                    }                      
                </td>
                <td>
                    <form method="post" action="/Users/DeleteUser/@user.Id">
                        <input type="submit" value="Удалить" class="btn btn-secondary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
